@media screen and (max-width: 1280px){
    .block_h{
        bottom: -1%;
    }
    .block_h h1{
        margin-top: 0;
    }
}
@media screen and (max-width: 1024px){
    /* пїЅпїЅпїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅ */
    .navbar{
        padding: 1em 0;
    }
    .wrap_phone{
        display: flex;
        justify-content: center;
    }
    /* header image */

    header .phone {
        font-size: 2em;
    }
    header .phone button {
        padding: 8px 1em;
    }
    header .logo_img {
        padding: 3px 20px;
    }
    .navbar-brand {
        padding: 15px 5px;
    }
    /* header image */
    .main_image {
        margin-top: 10em;
        min-height: 25em;
    }
    .block_h2{
        right: 5%;
    }
    /* пїЅпїЅпїЅпїЅ  пїЅпїЅпїЅпїЅпїЅпїЅ */
    .uslugi_inner_text p {
        font-size: 0.9em;
    }
    /* пїЅпїЅпїЅ пїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ */
    .inner_work_block span {
        padding: 1.2em 0.5em;
        height: 4em;
        width: 4em;
    }
    /* пїЅпїЅпїЅпїЅпїЅ */
    .adress_block{
        left: 4em;
    }
}
@media screen and (max-width: 992px){
    /* пїЅпїЅпїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅ */
    header .phone {
        font-size: 1.5em;
    }
    .wrap_phone{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    /* пїЅпїЅпїЅпїЅ  пїЅпїЅпїЅпїЅпїЅпїЅ */
    .uslugi_inner_text {
        font-size: 1em;
        padding-top: 0;
    }
    .pre_flex {
        display: flex;
        justify-content: center;
    }
    /* пїЅпїЅпїЅпїЅпїЅ */
    .adress_block{
        left: 3em;
    }
    .info{
        margin-top: 8em;
    }
}
@media screen and (max-width: 768px){
    /* пїЅпїЅпїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅ */
    header .phone {
        font-size: 1.5em;
    }
    .phone a {
        padding: 8px 10px;
        text-transform: uppercase;
    }
    .wrap_phone{
        display: flex;
        justify-content: center;
    }
    /* header image */
    .block_h{
        left: 25%;
    }
    .block_h h1{
        font-size: 3.5em;
        text-shadow: -1px 1px 1px #ffffff;
    }
    .inner_block_img_1 {
        border-right: none;
        border-bottom: 1px solid #2687cc;
    }
    /* пїЅпїЅпїЅпїЅ  пїЅпїЅпїЅпїЅпїЅпїЅ */
    .uslugi_inner_text {
        padding-top: 0.5em;
        align-items: center;
    }
    .uslugi_block h4 {
        font-size: 2.5em;
    }
    .uslugi_inner_text p {
        font-size: 1.1em;
    }
    /* пїЅпїЅпїЅ пїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ */
    .inner_work_block span {
        padding: 1.2em 0.3em;
        height: 4em;
        min-width: 4em;
        text-align: center;
    }
    /* пїЅпїЅпїЅпїЅпїЅ */
    .adress_block{
        left: 3em;
        top: 10.5em;
        font-size: 1.5em;
    }
    .adress_block:before {
        top: 50px;
    }
    .footer_phone{
        font-size: 1.2em;
    }
}
@media screen and (max-width: 425px){
    header .phone {
        display: none;
    }
    .block_h2 {
       display: none;
    }
    .block_h {
        margin-left: -8em;
        left: 50%;
    }
    .block_h h1 {
        font-size: 1.5em;
    }
    .main_image{
        min-height: 22em;
    }
    .uslugi_inner_text p {
        font-size: 0.8em;
    }
    .uslugi_inner_text {
        padding-top: 0;
        align-items: inherit;
        font-size: 1.5em;
    }
    .uslugi_block_link {
        left: 30%;
    }
    .inner_work_block{
        display: block;
        text-align: center;
    }
    .inner_work_block span {
        padding: 1em 0.3em;
    }
    .inner_work_block h4{
        padding-left: 0;
    }
    .work img{
        display: inline-block;
    }
    .adress_block {
        left: 6em;
        top: 7.5em;
        font-size: 1.3em;
    }
    .adress_block:before {
        display: none;
    }
    .footer_brand{
        display: block;
        text-align: center;
    }
    .wrap_brand {
        justify-content: center;
    }
    .footer_phone{
        margin-bottom: 1em;
        font-size: 1.6em;
    }
    .price {
        margin-top: 4em;
    }
}