.price{
    font-family: RobotoBold sans-serif;
    font-size: 1.5em;
    margin-top: 2em;
}
.no_wrap{
    white-space: nowrap;
}
.table_block{
    border-top: 2px solid #1442E8;
}
.price h2{
    text-align: center;
}
.name_table{
    background-color: #337ab7;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
}