    /* верхнее меню*/

header .logo_img{
    padding: 3px 30px;
}
header .name_firm{
    font-size: 2em;
    font-weight: 900;
    text-decoration: underline;
}
header .name_firm span{
    color: #1442e8;
}
header .dropdown-menu{
    text-transform: uppercase;
}
header .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #2687cc;
    font-weight: bold;
    text-shadow: 1px 0px 4px #FFFFFF;
}
.phone{
    line-height: 50px;
    font-family: 'RobotoBold';
    font-size: 1.6em;
}
header .glyphicon-phone-alt:before {
    padding-right: 15px;
}
 .phone a{
    padding: 8px 35px;
    text-transform: uppercase;
}
.wrap_phone ul a{
    display: inline-block;
    padding: 0.3em;
    border: 3px solid #1442E8;
    border-radius: 5px;
    width: 3em;
}
.wrap_phone .fa{
    font-size: 2em;
}
    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
        color: #00b3ee;
        background-color: transparent;
    }

