.uslugi{
    border-top: 2px solid #2687cc;
    margin-top: 25px;
}
.uslugi h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.uslugi_block{
    position: relative;
    min-height: 400px;
    border: 1px solid #2687cc;
    display: flex;
    justify-content: center;
}
.uslugi_block:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000000;
    opacity: 0.4;
}
.uslugi_block h4{
    text-align: center;
    color: #FFF;
    font-weight: bold;
    position: absolute;
    text-shadow: -2px 1px 1px #000;
    font-size: 1.6em;
    text-decoration: underline;
}
.uslugi_block11{
     background: url("../img/montagnieraboti.jpg") center no-repeat;
     background-size: cover;
 }
.uslugi_block12{
    background: url("../img/fasadnieraboti.png") center no-repeat;
    background-size: cover;
}
.uslugi_block13{
    background: url("../img/maljarnieraboti.jpeg") center no-repeat;
    background-size: cover;
}
.uslugi_block14{
    background: url("../img/arbo.jpg") center no-repeat;
    background-size: cover;
}
.uslugi_block21{
    background: url("../img/takelagnieraboti.jpg") center no-repeat;
    background-size: cover;
}
.uslugi_block22{
    background: url("../img/visotnieraboti.jpeg") center no-repeat;
    background-size: cover;
}
.uslugi_block23{
    background: url("../img/elecromontag.jpg") center no-repeat;
    background-size: cover;
}
.uslugi_block24{
    background: url("../img/prazdnik.jpg") center no-repeat;
    background-size: cover;
}
.uslugi_inner_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2em;
}
.uslugi_inner_text div{
     display: flex;
    padding: 0.3em 0;
 }
.uslugi_inner_text div span{
    color: #fff;
    padding-right: 1em;
}
.uslugi_inner_text p{
    color: #fff;
    text-shadow: 2px 1px 1px #000;
    font-weight: bold;
    font-size: 1.1em;
}
.glyphicon-ok:before {
    color: #2687cc;
    border: 2px solid;
    border-radius: 50%;
    padding: 3px;
}
.uslugi_block_link{
    position: absolute;
    bottom: 15px;
    left: 0;
}
.uslugi_link{
    text-transform: uppercase;
    margin: auto;
    font-weight: bold;
    text-shadow: -1px 1px 1px #000;
    letter-spacing: 0.3em;
    flex-grow: 0.5;
}